<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ColorCheckerSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E3AE57F1D48DEDA00559BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3AE5931D48DEDA00559BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E3AE59E1D48DEDA00559BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
